node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# views
**/view.js
**/DesignSystem/Fonts/*.js
**/DesignSystem/Fonts/*.module.css
**/*.graphql.js
**/data.js
**/view.module.css
src/Views
